

.cropped {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
}

.small-cropped{
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}

.post-profile-photo{
    float: left;
    margin-right: 5px;
    width: 3.7rem;
    height: 3.7rem;
    border-width: 2px;
    border-color: rgb(50 61 79);
}

.post-profile-block{
}

.add-image-button{
    background-color: rgb(30 41 59);
    border-color: rgb(50 61 79);
}
