
.errorAlert{
    position: relative;
    top: 10px;
    left: 0;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    line-height: 1.8;
    border-radius: 5px;
    cursor: hand;
    font-family: sans-serif;
    font-weight: 400;
}

.error {
    background-color: #FEE;
    border: 1px solid #EDD;
    color: #A66;
}

.errorToast{
    position: fixed;
    top: 0;
    left: 50%;
    width: auto;
    min-width: 200px;
    height: auto;
    z-index:1000;
    opacity: 0;
    animation: ani 0.7s forwards;
    transform: translate(-50%,-50%);
}
@keyframes ani {
    0% {transform: translate(-50%,-50%); opacity: 0;}
    100% {transform: translate(-50%,0%); opacity: 1;}
}

.alertText {
    display: table;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
}

.hr-dotted {
    padding: 0;
    height: 0;
    border-top: 1px solid;
    border-color: rgba(60, 72, 89, 0.4);;
}

.slider-images{

}

.slider-images:hover .nav-button{
    opacity: 1;
}

.nav-button{
    transition: opacity 0.5s;
    opacity: 0;
}

.messages{
}